.pine-area-container:after{
    content:"";
    height:0px;
    display: block;
    clear: both;
}
.pine-area-container .pine-area-content:after{
    content:"";
    height:0px;
    display: block;
    clear: both;
}
.pine-area-container .pine-area-title{
    float: left;
    line-height: 42px;
}


.pine-area-container .pine-select {
	float: left;
	display: inline-block;
	position: relative;
	width: 180px;
	height: 40px;
	border: 1px #cccccc solid;
	padding: 0px 10px;
	margin-right: 10px;
	line-height: 38px;
	font-family: \5FAE\8F6F\96C5\9ED1;
	box-sizing: border-box;
	background: url("../img/Publish/bg_select.jpg") no-repeat right top;
	cursor: pointer;
}
.pine-area-container .pine-select-where{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pine-area-container .pine-select .pine-select-content{
    min-height:50px;
    width:305px;
    background: #f9f9f9;
    border:1px solid #ddd;
    padding:5px;
    position: absolute;
    top:38px;
    left:-1px;
    z-index: 100;
    display: none;
}
.pine-area-container .pine-select .pine-select-content li{
    width:70px;
    line-height:30px;
    text-align: center;
    padding:0 3px;
    float: left;
}
.pine-area-container .pine-select .pine-select-content li a{
    display:block;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.pine-area-container .pine-select .pine-select-content li a:hover{
    background: #FA5F1C;
    color: #fff;
}

